* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
    background: hsl(233, 47%, 7%);
}

.container {
    background: hsl(244, 38%, 16%);
    max-width: 1110px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    margin: 0px 20px;
}



.left {
    padding: 70px 65px 65px 74px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header {
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-size: 2.3em;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.discription {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 30px 0;
    line-height: 1.8em;
    padding: 0px 40px 0px 0px;
}

.works {
    color: hsl(0, 0%, 100%);
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    
}

.works li{
    margin: 0px 63px 0px 0px;
}

.act {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-top: 5px;
}

.attribution {
    display: none;
}

.right {
    width: 50%;
    background: hsl(277.3, 100%, 31.6%);
    background-blend-mode: screen;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .4;
    pointer-events: none;
}

.mobile {
    display: none;
}

@media (max-width: 1090px) {
    .left {
        padding: 70px 40px 65px 75px;
    }
}

@media (max-width: 1050px) {
    .left {
        padding: 70px 20px 65px 55px;
    }
}

@media (max-width: 980px) {
    .left {
        padding: 70px 20px 65px 30px;
    }
}

@media (max-width: 912px) {
    .left {
        padding: 70px 15px 65px 15px;
    }
}

@media (max-width: 850px) {
    body {
        height: auto;
    }

    .container {
        flex-direction: column-reverse;
        width: 85%;
        margin: 30px 0;
        
    }

    .left {
        width: 100%;
        padding: 35px 25px 0 25px;
        text-align: center;
    }

    .header {
        letter-spacing: 0px;
        font-size: 1.8em;
    }

    .discription {
        padding: 0%;
    }

    .works {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .works li {
        margin: 10px 0;
    }

    .act {
        display: block;
        margin: 10px 0;
    }


    .right {
        width: 100%;
        height: 250px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
        height: 100%;
        object-position: top;
    }


}